@import 'vars'
@import 'mixin'
*
    margin: 0
    padding: 0
body
    font-family: 'SFProText'
    background: $backgroundColor
a
    text-decoration: none
.center
    padding-left: calc( 50% - $sizeSite/2 )
    padding-right: calc( 50% - $sizeSite/2 )
.header
    display: flex
    flex-direction: column
    position: relative
    padding-top: 2.25rem
    &__blur
        position: absolute
        top: 0
        width: 100%
        height: 2.25rem
        @include backgroundBlur
.breadcrumbs
    display: flex
    justify-content: space-between
    padding-top: 1.125em
    padding-bottom: 1.125em
    @include backgroundBlur
    border-bottom: 1px solid #ffffff20
.nav-top
    display: flex
    flex-direction: row
    justify-content: center
    position: relative
    font-size: 0.875em
    gap: 3.125em
    @include borderLine
.featured
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 5.625em
    &__content
        @include album-position
        padding-top: 1.875rem
.latest
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 10em
    padding-bottom: 10em
    &__box
        @include album-position
.nav
    display: flex
    flex-direction: row
    align-items: center
    margin-top: 1.25rem
    margin-bottom: 2rem
    &__footer
        display: flex
        flex-flow: row wrap
        justify-content: center
        gap: 3.25rem
    &__box
        display: flex
        flex-direction: column
        gap: 1rem
        width: 14.875em
    &__link
        display: flex
        flex-direction: column
        gap: 8px
    &__line
        padding-bottom: 0.625em
        border-bottom: 1px solid $colorWhite
.album
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    gap: 1em
    padding: 1.25rem
    width: 215px
    height: 396px
    border-radius: 10px
    background: linear-gradient(188deg, rgba(187,130,219,1) 0%, rgba(99,109,193,1) 9%, rgba(99,106,177,1) 50%, rgba(29,15,53,1) 100%)
    article
        display: flex
        flex-direction: column
        gap: 0.625em
.main
    display: flex
    flex-direction: column
    align-items: center
    gap: 2.5rem
    padding-top: 8.125em
    article
        width: 35.375em
        height: 8.875em
        background: #08010C60
        border-radius: 50%
        text-align: center
        align-content: center
        backdrop-filter: blur(26px)
        p
            padding-top: 0.75em
.error
    display: flex
    flex-direction: column
    gap: 0.5em
    align-items: center
    padding-top: 6.9375em
    padding-bottom: 7.5em
.about
    position: relative
    &__box-gradient
        width: 22.9375em
        height: 24.5em
        border-radius: 0.3125rem
        background: linear-gradient(188deg, rgba(187,130,219,1) 0%, rgba(99,109,193,1) 9%, rgba(99,106,177,1) 50%, rgba(29,15,53,1) 100%)
        top: 0.75rem
        right: 1.5rem
        position: absolute
    figure
        position: absolute
        width: auto
        height: auto
        top: -0.75rem
        right: 0
    p
        width: 59.9%
.terms
    display: flex
    flex-direction: column
    gap: 1.25em
    article
        display: flex
        flex-direction: column
        gap: 0.5em
        h2
            padding-bottom: 0.875em
.account
    display: flex
    flex-direction: row
    gap: 3.875em
    width: 380px
    &__login
        display: flex
        flex-direction: column
        gap: 20px
        padding: 32px
        width: 382px
        &_email
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 1.5C15.5 0.675 14.825 0 14 0H2C1.175 0 0.5 0.675 0.5 1.5V10.5C0.5 11.325 1.175 12 2 12H14C14.825 12 15.5 11.325 15.5 10.5V1.5ZM14 1.5L8 5.25L2 1.5H14ZM14 10.5H2V3L8 6.75L14 3V10.5Z' fill='%23D0D0D0'/%3e%3c/svg%3e ") no-repeat
            background-position: 1.5em
            padding-left: 3.25em
        &_pass
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.0005 8H2.9995M11.0005 8H12.1C12.3387 8 12.5676 8.0885 12.7364 8.24603C12.9052 8.40356 13 8.61722 13 8.84V14.16C13 14.2703 12.9767 14.3795 12.9315 14.4815C12.8863 14.5834 12.82 14.676 12.7364 14.754C12.6528 14.832 12.5536 14.8938 12.4444 14.9361C12.3352 14.9783 12.2182 15 12.1 15H1.9C1.78181 15 1.66478 14.9783 1.55558 14.9361C1.44639 14.8938 1.34718 14.832 1.2636 14.754C1.18003 14.676 1.11374 14.5834 1.06851 14.4815C1.02328 14.3795 1 14.2703 1 14.16V8.84C1 8.61722 1.09482 8.40356 1.2636 8.24603C1.43239 8.0885 1.66131 8 1.9 8H2.9995H11.0005ZM11.0005 8V4.5C11.0005 3.3338 10.1995 1 7 1C3.8005 1 2.9995 3.3338 2.9995 4.5V8H11.0005Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ") no-repeat
            background-position: 1.5em
    &__label
        display: flex
        flex-direction: row
        gap: 0.5rem
    &__btn
        margin-left: 58%
        width: 130px
        height: 49px
    &__box-pass
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        gap: 0.5rem
        a
            padding-left: 1.875em
            text-decoration: underline
            &:hover
                color: $colorLink
    &__register
        
.footer
    display: flex
    flex-direction: column
    gap: 3.75em
    padding-top: 3.25em
    padding-bottom: 1.625em
    background: #000
    &__about
        display: flex
        flex-direction: row
        justify-content: space-between
        position: relative
    &__author
        font-weight: 400
        font-size: 0.875em
        line-height: 100%
        color: $colorWhite

.subscribe
    display: flex
    flex-direction: column
    align-items: center
    gap: 1.25rem
    form
        position: relative
        display: flex
        flex-direction: row
        width: 25.625em
    &__email
        width: 100%
        height: auto
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 1.5C15.5 0.675 14.825 0 14 0H2C1.175 0 0.5 0.675 0.5 1.5V10.5C0.5 11.325 1.175 12 2 12H14C14.825 12 15.5 11.325 15.5 10.5V1.5ZM14 1.5L8 5.25L2 1.5H14ZM14 10.5H2V3L8 6.75L14 3V10.5Z' fill='%23D0D0D0'/%3e%3c/svg%3e ") no-repeat
        background-position: 1.344em
    &__button
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        top: 1px
        right: 1px
        width: 59px
        height: 46px
        background: $colorActiveLink
        border: none
        border-radius: 1.5rem
.login
    position: absolute
    align-content: center
    text-align: center
    right: 8.6%
    top: calc( 50% - 2.625rem/2)
    width: 2.625rem
    height: 2.625rem
    border-radius: 50%
    border: 1px solid #FFF
    @include link-icon
.head
    font-weight: 600
    font-size: 2.875em
    line-height: 100%
    color: $colorWhite
    &__t144
        font-weight: 400
        font-size: 9em
    &__t36
        font-size: 2.25em
    &__t30
        font-size: 1.875em
    &__t20
        font-weight: 500
        font-size: 1.25em
    &__t18
        font-weight: 500
        font-size: 1.125em
    &__t16
        font-size: 1em
.text
    font-weight: 500
    font-size: 1.25em
    line-height: 100%
    color: $colorWhite
    &__t16
        font-size: 1em
        &_paper
            font-weight: 400
            line-height: 140%
            padding-bottom: 8px
    &__t14
        font-weight: 400
        font-size: 0.875em
        &_up
            text-transform: uppercase
        &_normal
            font-weight: 300
            line-height: 140%
.form-fields
    font-weight: 500
    font-size: 0.875em
    line-height: 100%
    padding-left: 2.875em
    padding-top: 1.07em
    padding-bottom: 1.07em
    padding-right: 4.6em
    border: 1px solid #D0D0D0
    border-radius: 1.5rem
    box-sizing: border-box
    color: $colorWhite
    &::placeholder
        color: $colorWhite
.input-fields
    font-weight: 400
    font-size: 0.875em
    line-height: 100%
    color: $colorWhite
    border: 1px solid $colorWhite
    padding: 15px 24px
    box-sizing: border-box
    border-radius: 1.5rem
    &__left
        padding-left: 3.25em
.input-checkbox
    appearance: none
    width: 14px
    height: 14px
    border: 1px solid $colorWhite
    border-radius: 3px
    cursor: pointer
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    &:checked
        background: $colorLink
        border: $colorLink
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
.box-content
    padding: 2em
    width: 100%
    margin-top: 3.75em
    margin-bottom: 10em
    border-radius: 0.625em
    background: #7C7C7C20
.price
    font-weight: 500
    font-size: 0.875em
    line-height: 100%
    text-transform: uppercase
    color: $colorWhite
.messengers
    display: flex
    flex-direction: row
    gap: 0.75rem
.messenger
    display: flex
    justify-content: center
    align-items: center
    width: 35px
    height: 35px
    border: 1px solid $colorWhite
    border-radius: 50%
    @include link-icon
    &:hover
        path
            fill: $colorLink

    &__download
        display: flex
        flex-direction: row
        gap: 0.75rem
        justify-content: start
        width: 165px
        padding-top: 10px
        padding-bottom: 10px
        padding-left: 10px
        border: 1px solid $colorWhite
        border-radius: 11px
        cursor: pointer
        &:hover
            border: 1px solid $colorLink

    &__title
        display: flex
        flex-direction: column
        gap: 2px
    &__text
        font-weight: 300
        font-size: 0.6em
        line-height: 100%
        color: $colorWhite
    &__head
        font-weight: 400
        font-size: 18px
        line-height: 100%
        color: $colorWhite
.link
    padding-top: 1.688rem
    padding-bottom: 1.688rem
    font-weight: 600
    line-height: 100%
    text-transform: uppercase
    color: $colorWhite
    text-decoration: none
    transition: .4s
    box-sizing: border-box
    &:hover
        color: $colorLink
    &__breadcrumbs
        font-size: 0.875em
        font-weight: 400
        text-transform: capitalize
        &:not(:last-child)::after
            padding-left: 0.625em
            padding-right: 0.625em
            content: '•'
            color: $colorWhite
        &:last-child
            pointer-events: none

    &__border
        display: inline-block
        position: relative
        text-align: center
        &:after
            top: 0
            content: ''
            position: absolute
            width: calc( 100% + 2.8em )
            height: 2px
            left: -1.25em
            background: transpartent
            transition: background .4s
        &:hover
            &:after
                background: $colorLink
    &__button
        position: relative
        font-size: 0.875em
        padding: 0.54rem 1.15rem
        color: $colorWhite
        border-radius: 1em
        transition: .4s
        &:hover
            background: $colorActiveLink
            color: $colorWhite
    &__footer
        font-weight: 400
        font-size: 0.875em
        line-height: 100%
        color: $colorWhite
        &:hover
            color: $colorLink
            path
                fill: $colorLink
        &_title
            display: flex
            flex-direction: row
            align-items: center
            gap: 0.5em
            text-transform: capitalize
.button
    font-weight: 600
    font-size: 1.125em
    line-height: 100%
    color: $colorWhite
    cursor: pointer
    &__gradient
        position: relative
        border: none
        border-radius: 1.25em
        padding: 0.861em 2.45em
        background: $colorActiveLink
        transition: background .4s
        @include button-white
        &:hover
            background: $colorWhite
            @include button-gradient
    &__white
        position: relative
        font-size: 1em
        border: none
        border-radius: 1.25em
        padding: 0.91em 2.9em
        background: $colorWhite
        @include button-gradient
        &:hover
            background: $colorActiveLink
            @include button-white
    &__up
        position: absolute
        bottom: 0.5rem
        right: 1.25rem
        justify-content: center
        width: 46px
        height: 46px
        background: $colorActiveLink
        border-radius: 50%
        border: none
.background-content
    position: relative
    overflow: hidden
    z-index: 0
    background: #101029
.ellipse
    z-index: -5
    position: absolute
    filter: blur(145px)
    border-radius: 50%
    background: #37013E
    width: 18.625rem
    height: 18.625rem
    &__big
        width: 25.375rem
        height: 25.375rem
        background: #230127
    &__blue
        background: #5B00FB24
    &__loc1
        top: 24.938rem
        left: -7.25rem
    &__loc2
        top: 50.313rem
        left: -3.875rem
    &__loc3
        top: 2.25rem
        right: -6.375rem
    &__loc4
        z-index: -4
        top: 11.563rem
        right: 0
    &__loc5
        top: 64.625rem
        right: -3.313rem
    &__loc6
        z-index: -4
        top: 51.5rem
        right: 15rem
    &__loc7
        bottom: 1.625rem
        right: 1.5rem

@media ( min-width: 1921px)
    body
        width: 1920px
        padding-left: calc( 50% - 1920px /2 )
        padding-right: calc( 50% - 1920px /2 )
@media ( max-width:  1024px)
    .center
        padding-left: calc( 50% - 100vw / 2 )
        padding-right: calc( 50% - 100vw / 2 )
@media ( max-width: 480px )
